*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #667085;
}

:root {
    --bg: white;
    --aba: #667085;
    --red: #8E2424;
    --pretinha: #3A404E;
    --preto: #101828;
}

/* nav */ 


.container {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    list-style-type: none;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex
}

.menu ul {
    display: flex;
    list-style-type: none;
    margin-left: 1rem;
}

.menu li {
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

.botao  {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}


button {
    cursor: pointer;
    border: none;
    padding: 0.8rem 1rem;
    font-weight: 500;
    background: none;
    border-radius: 0.5rem;
    background-color: var(--red);
    color: var(--bg)
}

/* header */ 

.cabecalho {
    padding: 6rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cabecalho span {
    color: var(--red)
}


.cabecalho h1 {
    color: var(--preto);
    font-size: 2rem;
}


.cabecalho p {
    color: var(--aba);
    max-width: 50%; 
    text-align: center;
}

/* metricas */ 

section { 
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0.75rem;
    padding: 6rem;
}

section h1 {
    color: var(--red);
    font-size: 3.75rem;
}

section h2 {
    color: var(--preto);
    font-size: 1.25rem;
    
}

section p {
    max-width: 80%;
    line-height: 1.5rem;
}

/* secao de imagens */ 

.secao_de_imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

}

.secao_de_imagens span {
    cursor: pointer;
    border: none;
    font-weight: 500;
    background: none;
    padding: 0.8rem 1rem;
    border-radius: 0.625rem;
    background-color: rgba(142, 36, 36, 0.05);
    color: var(--red);
}

.secao_de_imagens h1 {
    color: var(--preto);
}

.secao_de_imagens img {
    border-radius: 1.563rem;
}

/* vagas */ 

.card_design {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.cargodesign {
    color: var(--preto);
    margin: 0 40.80em 0 0;
    

}

.cargodev {
    color: var(--preto);
    margin: 0 30em 0 0;
}

.jobs {
  border: 1px solid #EAECF0;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: var(--aba);
  width: 100%
}

/* depoimentos */ 

.depoimentos {
    padding: 6rem;
}


.conteudos {
    border: 64px solid #fdf8f8;
    background-color: #fdf8f8;
    border-radius: 1rem;
    padding: 4rem;
}

.textos {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.textos h1 {
    text-align: center;
    font-size: 2.25rem;
    color: var(--preto);
   
}

.review {
    font-size: 1.25rem;
    text-align: center;
    color: var(--red);

}

.nome {
    color: var(--preto);
}

.nomecargo {
    color: var(--preto);
}

/* footer  */ 

footer {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 6rem;
}

input {
    border: 2px solid var(--aba);
    background-color: var(--bg);
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.625rem;
}



